<!DOCTYPE html>
<html>
<head>
    <title>Your Playlists - Rainbow Playlists</title>
</head>
<body>
    <h1>Your Playlists</h1>
    <img src="https://media.wired.com/photos/59094a0ad8c8646f38eef2ae/master/pass/rainbow-sq.jpg" width="100">
    <ul>
    <!-- Django templating -->
    <!-- Loop through each playlist-->
    {% for playlist in playlists %}
        <!-- Displays name of playlist, and a form that posts the data to the rainbowify view -->
        <li>{{ playlist.name }} - <form action="{% url 'rainbowify' %}" method="post">
            <!-- cross-site request forgery protection -->
            {% csrf_token %}
            <!-- Includes playlist ID in POST to make it easier -->
            <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
            <input type="submit" value="Rainbowify">
        </form></li>
    {% endfor %}
    </ul>
</body>
</html>
